# Configuration file

scanner {
    # If true, shows Alignment Info in Scanner [default: true]
    B:showAlignmentInfo=true

    # If true, shows Base Info in Scanner [default: true]
    B:showBaseInfo=true

    # If true, shows Chunk Info in Scanner [default: true]
    B:showChunkInfo=true

    # If true, shows Coverable Info in Scanner [default: true]
    B:showCoverableInfo=true

    # If true, shows Custom Info in Scanner [default: true]
    B:showCustomInfo=true

    # If true, shows Debug Info in Scanner [default: true]
    B:showDebugInfo=true

    # If true, shows Energy Container Info in Scanner [default: true]
    B:showEnergyContainerInfo=true

    # If true, shows Fluid Handler Info in Scanner [default: true]
    B:showFluidHandlerInfo=true

    # If true, shows Forestry Leaves Info in Scanner [default: true]
    B:showForestryLeavesInfo=true

    # If true, shows IC2 Info in Scanner [default: true]
    B:showIC2Info=true

    # If true, shows Machine Info in Scanner [default: true]
    B:showMachineInfo=true

    # If true, shows Reactor Info in Scanner [default: true]
    B:showReactorInfo=true

    # If true, shows Wrench Info in Scanner [default: true]
    B:showWrenchInfo=true
}


