# Configuration file

worldgen {

    general {
        # If true, disables vanilla oregen. [default: true]
        B:disableVanillaOres=true

        # if true, enables basalt ore gen. [default: true]
        B:generateBasaltOres=true

        # if true, enables black granite ore gen. [default: true]
        B:generateBlackGraniteOres=true

        # if true, enables marble ore gen. [default: true]
        B:generateMarbleOres=true

        # if true, enables red granite ore gen. [default: true]
        B:generateRedGraniteOres=true

        # if true, enables underground dirt gen. Does nothing if the vanilla oregen is enabled! [default: true]
        B:generateUndergroundDirtGen=true

        # if true, enables underground gravel gen. Does nothing if the vanilla oregen is enabled! [default: true]
        B:generateUndergroundGravelGen=true
    }

}


