# Configuration file

example {
    # The text should be green [default: I should be Green]
    S:greenField=I should be Green

    # Only visible in GUI if 'Hodgepodge' mod is loaded. [default: true]
    B:hodgepodgeIntegration=true

    # Only visible in GUI if 'nei' or 'jei' is loaded. [default: false]
    B:itemSearchIntegration=false

    #  [default: Mod ID]
    S:selectionList=Mod ID

    ##########################################################################################################
    # redcategory
    #--------------------------------------------------------------------------------------------------------#
    # This category button should have RED text.
    ##########################################################################################################

    redcategory {
        # The boolean text should be yellow [default: true]
        B:yellowBoolean=true

        ##########################################################################################################
        # redcategory
        #--------------------------------------------------------------------------------------------------------#
        # This category button should have RED text.
        ##########################################################################################################

        redcategory {
            #  [default: false]
            B:enable=false

            #  [range: -2147483648 ~ 2147483647, default: 0]
            I:noOrder=0

            #  [range: -2147483648 ~ 2147483647, default: 0]
            I:size=0

            #  [range: -2147483648 ~ 2147483647, default: 0]
            I:speed=0

            # The boolean text should be yellow [default: true]
            B:yellowBoolean=true
        }

    }

    ##########################################################################################################
    # thaumcraft
    #--------------------------------------------------------------------------------------------------------#
    # This entire category is hidden unless 'thaumcraft' is loaded.
    ##########################################################################################################

    thaumcraft {
        # Enable Thaumcraft research tweaks. [default: true]
        B:researchTweaks=true

        # Only visible if 'thaumicbases' is also present. [default: false]
        B:thaumicBasesCompat=false
    }

}


