# Configuration file

~CONFIG_VERSION: rv3-beta-913-GTNH

counters {
    I:lastGridStorage=9
    I:lastPlayer=1
}


dimensionmanager {
    I:StorageCells <
     >
}


gridstorage {
}


gridstoragedata {
    B:newDataFormat=true
}


players {
    I:31c4910d-9b69-4725-8969-9ed53ac8a7dc=0
}


