# Configuration file

debug {
    # Disables ALL logging from GT++.
    B:disableAllLogging=true

    # Enables all sorts of debug logging. (Don't use unless told to, breaks other things.)
    B:debugMode=false

    # Enable/Disable entity setHealth() fix.
    B:enabledFixEntitySetHealth=false

    # Enable/Disable GT NBT Persistency Fix
    B:enableGtNbtFix=true

    # Enable/Disable COFH OreDictionaryArbiter Patch (Useful for Development)
    B:enableCofhPatch=false

    # Enable/Disable Forge OreDictionary Patch (Useful for Development)
    B:enableOreDictPatch=false

    # Enable/Disable Patch for Thaumic Repairer
    B:enableThaumicTinkererRepairFix=false
}


general {
    # Prevents the game crashing from having invalid keybinds. https://github.com/alkcorp/GTplusplus/issues/544
    B:enabledLwjglKeybindingFix=true

    # Enable/Disable Custom GT Tooltips
    B:enableGtTooltipFix=true

    # Makes the Charcoal Pile Igniter work better.
    B:enableGtCharcoalPitFix=true

    # Fixes small oversights in Thaumcraft 4.
    B:enableTcAspectSafety=true
}


